<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{site.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				{% include header.html %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
                                <header>
                                    <h1>{{page.title}}</h1>
                                    <p>{{page.shortdesc}}</p>
								</header>

								<div class="box alt">
									<div class="row gtr-uniform">
										<div class="col-2">
											&nbsp;
										</div>
										<div class="col-8">
											<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" 
											src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{page.soundcloudid}}&color=%23fc6d26&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
											</iframe>
										</div>
										<div class="col-2">
											&nbsp;
										</div>
									</div>
								</div>
                                
                                {{ content }}
                        </div>
                    </div>
                    
                {% include footer.html %}
            </div>

            {% include scripts.html %}
     </body>
</html>

