<!-- Footer -->
<footer id="footer">
        <div class="inner">
            <section id="contact">
                <h2>Get in touch</h2>
                <form method="post" action="https://formspree.io/boleary+tanukitalks@gitlab.com">
                    <div class="fields">
                        <div class="field half">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="field half">
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary" /></li>
                    </ul>
                </form>
            </section>
            <section>
                <h2>Follow</h2>
                <ul class="icons">
                    <li><a href="https://soundcloud.com/tanukitalks/" class="icon style2 fa fa-volume-up"><span class="label">Soundcloud</span></a></li>
                </ul>
            </section>
            <ul class="copyright">
                <li>&copy; {{site.title}}. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>