<!-- Header -->
<header id="header">
        <div class="inner">

            <!-- Logo -->
                <a href="/" class="logo">
                    <span class="symbol">
                        <img src="/images/gitlab-logo-1-color.svg" class="logosvg" alt="" />
                    </span>
                        <span class="title">{{site.title}}</span>
                </a>

            <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

        </div>
    </header>

<!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#episodes">Episodes</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>