---
---
<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{site.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				{% include header.html %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>{{site.description}}</h1>
								<p>Published semi-monthly or whenever we feel like chatting.</p>
								<p>

									<a href='https://itunes.apple.com/us/podcast/tanuki-talks/id1432682216?mt=2' rel='nofollow'>
										<img height='45px' alt='Listen on Apple Podcasts' 
										src='images/US_UK_Apple_Podcasts_Listen_Badge_RGB.svg'/>
									</a>

									<a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;apn=com.google.android.music&amp;link=https://play.google.com/music/m/Ix62ffq6py6jpbtuuzrdoegfcs4?t%3DTanuki_Talks%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16' rel='nofollow'>
										<img height='45px' alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png'/>
									</a>
								</p>
							</header>

							<section class="episodes" id="episodes">
								<h2>
									Episodes 
									<i class="fa fa-arrow-down" id="sorticon"></i>
								</h2>
							</section>
							<section class="tiles">
								{% for post in site.posts reversed %}
								<article class="{{post.style}}">
									<span class="image">
										<img src="images/{{post.homepic}}" alt="" />
									</span>
									<a href="{{post.url}}">
										<h2>{{post.title}}</h2>
										<div class="content">
											<p>
												{{post.shortdesc}}
											</p>
										</div>
									</a>
								</article>
								{% endfor %}
							</section>
						</div>
					</div>

				{% include footer.html %}

			</div>

			{% include scripts.html %}


			<script>
				//sorticon
				$( document ).ready(function() {
					$('#sorticon').click(function() {
						var list = $('.tiles');
						var listItems = list.children('article');
						list.html('');
						list.append(listItems.get().reverse());

						let icon = $('#sorticon');
						icon.toggleClass('fa-arrow-down');
						icon.toggleClass('fa-arrow-up');

					})
				});
			</script>
	</body>
</html>